<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640195549107-fg4g6goj8ag23vdm10m3294eb87ecov3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640195549107-fg4g6goj8ag23vdm10m3294eb87ecov3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>640195549107-ihpetiktqo7uagh8s2ddmacd7edf3th8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIz1AIa-1Y8VazeLNWyhEiH7OgkXytDEU</string>
	<key>GCM_SENDER_ID</key>
	<string>640195549107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tekaLuxe</string>
	<key>PROJECT_ID</key>
	<string>teka-luxe</string>
	<key>STORAGE_BUCKET</key>
	<string>teka-luxe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640195549107:ios:3feb532bc1ed19c523ddc6</string>
</dict>
</plist>